:root {
    --cor-texto: #ffffff;
    --cor-fundo: #000000;
    --cor-botao: #22D4FD;
    --cor-texto-destaque: #22D4FD;
    --cor-texto-botão: #000000;
}

body {
    background-color: var(--cor-fundo);
}

main h1 {
    color: var(--cor-texto);
}

main p {
    color: var(--cor-texto);
}

button {
    background-color: var(--cor-botao);
    color: var(--cor-texto-botão);
}